#!/usr/bin/env bash

alias ....="cd ../../.."
alias ...="cd ../.."
alias ..="cd .."
alias T="tee /dev/tty"
alias apt-get="sudo apt-get"
alias b="cd -"
alias c="clear"
alias cc='echo -q "\n\n\n\n\n\033[0;31mCLEAR SCREEN\033[0m\n\n\n\n\n"'
alias copy_to_clipboard='xclip -selection clipboard'
alias edit="nvim"
alias egrep='egrep --color=auto'
alias fb="et fb:8080"
alias fgrep='fgrep --color=auto'
alias fuck='eval "sudo $(fc -ln -1)"'
alias g="git"
alias grep='grep --color=auto'
alias gt="gotestsum"
alias h="hg"
alias hc="hg ci -m"
alias hist="history"
alias ibrew="arch -x86_64 /usr/local/homebrew/bin/brew"
alias l="ls"
alias la="ls -la"
alias lh="ls -lh"
alias ll="ls -l"
alias lo="ls -o"
alias ls="ls --color=auto"
alias mkae="make"
alias paste_from_clipboard='xclip -o -selection clipboard'
alias s="ls"
alias sl="ls"
alias stripcolors='sed "s/\x1B\[\([0-9]\{1,2\}\(;[0-9]\{1,2\}\)\?\)\?[mGK]//g"'
alias ta="tmux attach"
alias td="tmux detach"
alias tl="tmux ls"
alias tmux="TERM=xterm-256color tmux -2"
alias tt="tee /dev/tty"
alias vi="nvim"
alias vim="nvim"
alias gpm="git checkout main && git pull"

if command -v gsed &>/dev/null; then
	alias sed="gsed"
fi

if command -v batcat &>/dev/null; then
	alias bat="batcat"
	alias cat="batcat"
elif command -v bat &>/dev/null; then
	alias cat="bat"
fi

if command -v lazygit &>/dev/null; then
	alias lg="lazygit"
fi

if command -v gotestsum &>/dev/null; then
	alias gt="gotestsum"
fi

if [ -f "$HOME/.stytch-aliases" ]; then
	source "$HOME/.stytch-aliases"
fi

if [ -f "$HOME/.secure-aliases" ]; then
	source "$HOME/.secure-aliases"
fi
