[user]
	email = lgore93@gmail.com
	name = Logan Gore

[alias]
    a = add
    b = branch
    ba = branch -a
    ci = commit
    co = checkout
    d = diff
    ds = diff --staged
    l = log
    gr = log --graph
    p = pull
    s = status
	sl = smartlog

[credential]
	helper = store
	username = gorel

[push]
	default = current

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[delta]
  features = line-numbers decorations
  whitespace-error-style = 22 reverse
  side-by-side = true

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = yellow box

[diff]
  colorMoved = default

[mergetool]
  prompt = false

